.app-header {
  position: fixed;
  z-index: 999;
  ;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(155, 105, 24, 0.16);
  width: 100%;
  transition: all 0.2s ease-in-out;
  height: 80px;
  display: flex;
  align-items: center;

  .logo-img {
    width: 115px;
  }

  .buttons-mobile {
    display: none;
  }

  @include media-breakpoint-down(xl) {
    height: 50px;

    .app-header-inner {
      padding: 1.8rem 0;
      // justify-content: space-between;
    }

    .logo {
      flex: 1
    }

    .dropdown.dr,
    .btn-search,
    .btn-phone {
      display: none;
    }

    .logo img {
      max-width: 80px;
    }

    .buttons-mobile {
      display: flex;
      justify-content: space-between;
      padding: 1.4rem 2rem;
      background-color: #F0F0F0;

      .btn-search,
      .btn-phone {
        display: flex;
        align-items: center;
      }
    }

  }

  .main-navbar {
    margin-right: 2rem;
    margin-left: 6rem;
    flex: 1;
  }

  li.lang-item img {
    position: relative;
    // top: -3px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
  }

  @include media-breakpoint-up(lg) {
    .nav-link {
      //transition: all 0.2s ease;
      transition: none;

      &.active {
        position: relative;

        &:after {
          content: '';
          width: calc(100% - 10px);
          height: 0.2rem;
          background-color: #fff;
          position: absolute;
          bottom: -0.6rem;
          left: 50%;
          transition: all 0.2s ease-in-out;
          transform: translate(-50%, 0);
        }
      }
    }
  }


}

.search-btn {
  font-size: 2rem;
}

.open-search {


  .search-btn {
    position: relative;
  }

  .nav-pills,
  .btn,
  .dr {
    opacity: 0;

  }



  .form-search {
    width: 400px;
    position: absolute;
    right: 3rem;
    display: block !important;
    z-index: 1;

    .btn-search {
      position: absolute;
      right: 1rem;
      top: 50%;
      padding: 0;
      transform: translateY(-50%);
      opacity: 1;
      width: 30px;
      height: 30px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .icon-search {
    opacity: 1;

    &:before {
      content: $icon-times;
    }
  }

  @include media-breakpoint-down(lg) {
    .form-search {
      top: 0;
      left: 0;
      margin: 0 !important;
      width: 100%;
      padding: 2rem;
      position: absolute;
      background: white;
      z-index: 9;
    }

    .search-btn.d-lg-none {
      position: absolute;
      color: $body-color;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
      line-height: 1;
    }

    .logo,
    .navbar-toggler {
      opacity: 0;
    }
  }
}

.form-search {
  &__input {
    height: 4rem;
    padding: .3rem $input-padding-x  !important;
    border-radius: 20px;
  }

  @include media-breakpoint-down(xl) {
    &__input {
      padding: .2rem $input-padding-x  !important;
    }
  }
}