.tpl-block {
  padding-top: 6rem;
  padding-bottom: 6rem;

  &+.the-content {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(sm) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}





.main {
  padding-top: 80px;

  .container-fluid {
    max-width: 96%;
  }

  @include media-breakpoint-down(xl) {
    padding-top: 50px;
  }

}

.page-id-40 {
  .tpl-contact {
    display: none !important;
  }
}

.img-404 {
  background: url('../images/404.png') no-repeat center center;
  height: 284px;
  width: 248px;
  margin: 0 auto 2.4rem;

  &.img-404-s {
    background: url('../images/404-search.svg') no-repeat center center;
  }
}

@media(min-width: 1600px) {

  .app-header {
    .container-fluid {
      max-width: 1900px;
    }
  }

  #menu-top-menu.nav-pills>.menu-item {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .container {
    max-width: 1560px;
  }

  .main {
    .container-fluid {
      max-width: 1740px;
    }
  }
}