.post-new {
    a {
        text-decoration: none;
    }
    .d-block.mb-3 {
        max-height: 285px;
        overflow: hidden;
    }
    h5 {
        font-weight: 500;
        text-transform: none;
        a {
            color: $body-color
        }
    }
    .date {
        color: #666666;
        letter-spacing: 1px;
    }
}
.tags {
    a {
        padding: 3px 8px;
        background: #008B7D;
        border-radius: 15px;
        color: white;  
        margin-right: .5rem; 
        display: inline-block;
        font-weight: 500;
        ont-size: 1.2rem;
    }
}
.block-quote {
    padding: 2rem;
    font-weight: 500;
    background: #FFFFFF;
    border: 1px solid $primary;
    box-shadow: inset 4px 0px 0px $primary;
    border-radius: 6px;
}
.article-body {
    padding: 2.4rem 2.4rem 6rem;
    position: relative;
}
.article { 
    border: 1px solid rgba(226, 115, 74, 0.32);
    box-shadow: 0px 4px 16px -4px rgba(226, 115, 74, 0.25);
    overflow: hidden;
    background: #FFFFFF;
    // border: 1px solid #FDF2EB;
    border-radius: 8px;
    
    h4 {
        margin-bottom: 1rem;
        font-weight: 500;
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}
.article-img {
    flex: 0 0 269px;
    max-width: 269px;
    border-radius: 8px 0 0 8px;
    img {
        width: 100%;
    }
    @include media-breakpoint-down(md) {
        flex:  1;
        max-width: 100%;
    }
   
}
.article-more {
    text-decoration: none;
    color: $primary;
    position: absolute;
    bottom: 2rem;
    left: 2.4rem;
    span {
        font-size: 1.2rem;
    }
}
.widget-box {
    background: #FFFFFF;
    border: 1px solid #FDF2EB;
    box-shadow: 0px 4px 16px -4px rgba(226, 115, 74, 0.25);
    border-radius: 8px;
    padding: 2rem;
    .nav-item {
        flex: block;
        width: 100%;
        border-bottom: 1px dashed rgba(226, 115, 74, 0.32);
        &:last-child {
            border-bottom: none;
        }
    }
    .nav-link {
        background: url('../images/icon-logo.svg') no-repeat 0  1.6rem ;
        text-decoration: none;
        color: inherit;
        font-weight: 500;
        display: block;
        padding: 1.4rem 0 1.4rem 3.5rem;
        &:hover {
            color: $primary
        }
    }
}
.related-article  {
    h4 {
        margin-bottom: 1rem;
        font-weight: 500;
        a {
            color: inherit;
            text-decoration: none;
            &:hover {
                color: $primary
            }
        }
    }
}
.related-article-img {
    margin-right: 1rem;
    max-width: 95px;
}
.related-article-text {
    h4 {
        font-weight: 500;
        font-size: 1.4rem;
    }
}
.iicon-fb,.iicon-twitter ,.skype-share{
    width: 30px;
    height:30px;
    display: block;
    background: url("../images/twitter.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.iicon-fb {
  
    background: url("../images/facebook_square.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.skype-share {
    margin-left: 1rem;
    background: url("../images/skype.svg");
    background-repeat: no-repeat;
    background-position: center;
    .skypeShare.large .skypeShareText {
        margin-right: 0;
        margin-left: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
    }
    * {
        opacity: 0;
    }
}
.share {
    margin: 3rem 0;
    padding: 2.2rem 0;
    border-top: 1px solid rgba(33, 51, 104, 0.15);
    border-bottom: 1px solid rgba(33, 51, 104, 0.15);
}