.btn {
  transition: all 0.3s ease-in-out;

  &:hover {
    background: #5EAB42;
    box-shadow: $btn-active-box-shadow;
    border-color: #5EAB42;
    color: white;
  }
}

.btn-primary {
  color: white;

}

.btn-rounder {
  border-radius: 50%;
  padding: 0;
  width: 4rem;
  height: 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}