.r-item,
.r-heading {
  border-bottom: 1px solid $border-color;
}

.r-address,
.r-date,
.r-salary {
  padding-left: 3rem;
  background: url(../images/money.svg) no-repeat left center;
}

.r-address {
  padding-left: 3rem;
  background: url(../images/location.svg) no-repeat left center;
}

.r-date {
  padding-left: 3rem;
  background: url(../images/calendar-2.svg) no-repeat left center;
}

.inside-image {
  img {
    border-radius: 20px 20px 0 0
  }
}

.inside-body {
  padding: 2rem;
  border-radius: 0 0 20px 20px;
  background: #f5f5f5;
  text-align: left;

  .title {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
}

.inside-card {
  transition: all 0.3s linear;
  border-radius: 20px 20px;

  &:hover {

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  }
}

.inside-image {
  &:before {
    padding-top: 68.25%;
  }

  img {
    object-fit: cover;
  }
}