.form-group {
  margin-bottom: 1.6rem;

  label.error {
    padding-top: 8px;
  }
}

label {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: .4rem;
}

textarea {
  height: 120px;
  resize: none;
}

.form-control {
  appearance: none;

  &.error {
    border-color: $red  !important;
  }

  @include media-breakpoint-down(lg) {
    font-size: initial !important;
  }
}

.error {
  color: $red;
}

// .checkbox {
//   @include checkbox()
// }
// .radio {
//   @include checkbox();
//   @include radio();
//   padding-left: 24px;
// }

select.form-control {

  padding-right: 3.5rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="%23888888" d="M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z"/></svg>') !important;
  background-size: 12px !important;
  background-position: calc(100% - 15px) center !important;
  ;
  background-repeat: no-repeat !important;
  ;
}

.form-control-name,
.form-control-phone,
.form-control-address {
  padding-left: 4rem;
}

.form-control-name {
  background: white url(../images/user-avatar.svg) no-repeat 1rem center;
}

.form-control-phone {
  background: white url(../images/phone-call.svg) no-repeat 1rem center;
}

.form-control-address {
  background: white url(../images/marker.svg) no-repeat 1rem center;
}

.wpcf7 {
  br {
    display: none
  }
}

.submit-btm {
  .wpcf7-submit {
    padding: 0;
    border: none;
    background: url(../images/submit.svg) no-repeat left center;
    color: $teal;
    font-weight: 700;
    font-size: 1.6rem;
    text-decoration: none;
    padding-left: 58px;
    height: 48px;

  }
}

.col-md-6-right {
  background: url(../images/bg-contact.svg) no-repeat right 0;
  display: flex;
  align-items: center;
  background-size: 100%;

  @include media-breakpoint-down(md) {
    background: url(../images/bg-contact-mb.svg) no-repeat calc(100% + 1rem) center;
    background-size: 100%;
  }
}

.tpl-contact-right {
  max-width: 600px;

  form {
    max-width: 420px;

    p {
      margin-bottom: 0;
    }
  }

}

.wpcf7-spinner {
  margin: 1rem 0;
  display: none;
}

form.submitting .wpcf7-spinner {
  display: block;
}

.wpcf7 form .wpcf7-response-output {
  margin: 1rem 0;
}