.intro-block {
  .col2 {
    img {
      border-radius: 0 0 20px 0;
    }
  }

  .col1 {
    img {
      border-radius: 0 0 0 20px;
    }
  }

  .image-vision {
    img {
      width: 100%;
    }
  }

  .summary {
    border-radius: 20px 20px 0 0;
    background: url(../images/features-mb.png) no-repeat center/cover;
    color: white;
    padding: 2rem;
    text-align: center;

    .item+.item {
      margin-top: 1.5rem;
    }

    * {
      color: inherit
    }
  }

  @include media-breakpoint-up(lg) {
    .d-grid {
      display: flex !important;
      flex-direction: column;
      position: relative;
      padding-left: 40%;

      .images {
        .col1 {
          img {
            border-radius: 0;
          }
        }
      }

      .summary {
        border-radius: 0 30px 0 0;
        padding: 5rem 0;
        margin-bottom: 1rem;

        .d-lg-flex {
          justify-content: space-between;
          position: relative;

          &:after,
          &:before {
            content: "";
            height: 36px;
            width: 1px;
            background-color: #F0F0F0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 33.333%;
          }

          &:before {
            left: 66.666%;
          }
        }

        .item {
          width: 33.333%;
          padding: 0 1rem;

          &+.item {
            margin-top: 0;
          }
        }

      }

      .image-vision {
        background: white;
        border-radius: 30px 0 0 30px;
        overflow: hidden;
        left: 0;
        position: absolute;
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 80%;
          object-fit: contain;
        }
      }
    }


  }
}