.nav-pills {

  .dropdown-menu {
    border: none;
    min-width: 300px;
  }

  .icon-chevron-down {
    position: absolute;
    right: 10px;
    display: none;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    pointer-events: none;

  }

  .dropdown-toggle:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    margin: 0 0 0 2px;
    vertical-align: 2px;
  }

  .current-menu-item {
    .nav-link {
      color: $primary
    }
  }

  .nav-link {
    font-size: 1.6rem;
    font-weight: 600;
  }

  @include media-breakpoint-up(xl) {

    >.menu-item {
      padding: 1.7rem 1.2rem;
      position: relative;
      margin: 0;

      .icon-angle-down {
        display: none;
      }

      &.menu-item-has-children:hover {

        &:after {
          height: 2px;
          width: 100%;
          background-color: $primary;
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          top: auto
        }
      }

      &::before {
        content: "";
        height: 2rem;
        width: 1px;
        background-color: #E0E0E0;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &:first-child {
        &:before {
          display: none;
        }
      }
    }

    .menu-item {
      >ul {

        left: 50%;
        transform: translateX(-50%);
        border-radius: 0 0 16px 16px;
        box-shadow: none;
      }

      &.dropdown-2-column {
        &:hover {
          >ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 2rem;
            width: 600px;

            >li {
              max-width: calc(50% - 1rem);
              flex: 0 0 calc(50% - 1rem);

              >a {
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }

      &:hover {


        >ul {
          top: 100%;
          display: block;




        }
      }
    }
  }

  .nav-link {
    background: none !important;

    &:after {
      display: none;
    }

    &.active {
      color: inherit;
    }
  }



  @include media-breakpoint-down(xl) {
    >.menu-item {
      border-bottom: 1px solid #F8F8F8;
    }



    .dropdown-menu {
      position: static;
      border: none;
      padding: 0;
    }

    .nav-link,
    .dropdown-item {
      color: $headings-color;
      font-size: 1.6rem;
      padding: 1.2rem 4rem 1.2rem 2rem;
      background-color: transparent !important;
    }

    .dropdown-item {
      border-bottom: 0;
      border-top: 1px solid #F8F8F8;
    }
  }

}

.navbar-toggler {
  display: none;
}

@include media-breakpoint-down(xl) {
  .navbar-close {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    font-size: 3rem;
  }

  .icon-angle-down {
    display: none;
  }

  .menu-item-has-children {
    >.icon-angle-down {
      display: block;
      position: absolute;
      right: 2rem;
      top: 14px;
    }

    // padding-right: 5rem;
    &.active-menu {
      .icon-angle-down {
        &:before {
          content: $icon-angle-up;
        }
      }
    }


  }

  .navbar-close {
    display: block !important;
  }

  .navbar-toggler {
    display: block;
  }

  .logo {
    flex: 1;
  }

  .main-navbar {
    overflow: auto;
    position: fixed;
    z-index: 9;
    top: 50px;
    color: $body-color;
    left: 0;
    background: #F0F0F0;
    height: calc(100% - 50px);
    width: calc(100% - 60px);
    transition: transform 0.5s ease-in-out, box-shadow 0.2s ease-in-out;
    border-radius: 0 0 0 0;
    transform: translateX(-100vw);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    margin: 0 !important;
    max-width: 500px;

    .open-menu & {
      transform: translateX(0);

      // box-shadow: -20px 0 0 0 rgba(0, 0, 0, .5);

    }

    .nav-pills {
      background-color: white;
      flex-direction: column;
    }

    .nav-language-ms {
      padding-bottom: 2rem;
      margin-top: -1px;
      display: block !important;
    }

    .dropdown-menu {
      box-shadow: none;
      padding-top: 0;
      // display: block;
    }

    .nav-link,
    .dropdown-item {
      background: none !important;
    }
  }

  .overlay {
    opacity: 0;
    z-index: 1;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    top: 50px;
    height: calc(100% - 50px)
  }

  .open-menu {
    overflow: hidden;

    .overlay {
      visibility: visible;
      opacity: 1;

    }

    body {
      overflow: hidden;
    }
  }

  .open-menu {
    .navbar-toggler {
      .icon-times {
        display: block !important;
        opacity: 1 !important;
      }

      svg {
        display: none;
      }
    }
  }

  .navbar-toggler {
    width: 32px;
    font-size: 20px;
  }

  .nav-language-ms {
    li {
      padding: 1.6rem 2rem 1.2rem 2rem;
      border-top: 1px solid #F8F8F8;
    }

    li.lang-item img {
      top: -1px;
    }

    .current-lang a {
      position: relative;
      display: inline-block;
      padding-right: 3rem;

      &:after {
        content: "";
        width: 10px;
        right: 0;
        height: 6px;
        border-left: 2px solid $primary;
        position: absolute;
        transform: translateY(-50%) rotate(-45deg);
        border-bottom: 2px solid $primary;
        top: 40%
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .open-search {

    .nav-pills,
    .btn-search,
    .logo,
    .navbar-toggler,
    .btn-phone,
    .dr {
      opacity: 1;
    }

    .form-search {
      transform: translateY(-50%);
      top: 50%;
      right: 0;
      max-width: 60%;
      left: auto;
      padding: 1rem 2rem;
      display: flex !important;
      align-items: center;

      .form-control {
        height: 4.5rem;
      }
    }
  }
}