/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  // margin-left: auto;
  // margin-right: auto;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;

  [dir="rtl"] & {
    float: right;
  }

  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}




$slick-font-path: "./fonts/" !default;
$slick-font-family: $icomoon-font-family  !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: $white  !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color  !default;
$slick-prev-character: $icon-arrow-left  !default;
$slick-next-character: $icon-arrow-right  !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 8px !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 1 !default;

@function slick-image-url($url){
@if function-exists(image-url) {
  @return image-url($url);
}

@else {
  @return url($slick-loader-path + $url);
}
}

@function slick-font-url($url){
@if function-exists(font-url) {
  @return font-url($url);
}

@else {
  @return url($slick-font-path + $url);
}
}

/* Slider */

.slick-list {
  .slick-loading & {
    background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
  }
}

/* Icons */
@if $slick-font-family =="slick" {
  @font-face {
    font-family: "slick";
    src: slick-font-url("slick.eot");
    src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: 9rem;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0;
  z-index: 1;
  background: $primary  !important;
  font-size: 0;
  cursor: pointer;
  border-radius: 50%;
  color: transparent;
  bottom: 0;
  padding: 0;
  border: none;
  outline: none;

  &.slick-disabled {
    opacity: .5;
  }

  &:hover {
    outline: none;
    background: rgba(0, 0, 0, 0.3);

    &:before {
      opacity: $slick-opacity-on-hover;

    }
  }

  &.slick-disabled:before {
    opacity: $slick-opacity-not-active;
  }

  &:before {
    font-family: $slick-font-family;
    font-size: 40px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
  }
}

.slick-prev {
  background: rgba(0, 0, 0, 0.3);
  left: -4.5rem;

  @media (min-width: 1280px) {
    left: -4.5rem;
  }

  [dir="rtl"] & {
    left: auto;
    right: 0;
  }

  &:before {
    position: absolute;

    content: $slick-prev-character;
  }
}

.slick-next {
  right: -4.5rem;

  @media (min-width: 1280px) {
    right: -4.5rem;
  }

  [dir="rtl"] & {
    left: 0;
    right: auto;
  }

  &:before {
    content: $slick-next-character;
  }
}

/* Dots */


.slick-dots {
  position: static;
  margin: 2rem 0 0;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;

  li {
    position: relative;
    display: inline-block;
    //height: 8px;
    //width: 8px;
    margin: 0 2.5px;
    padding: 0;
    cursor: pointer;

    button {
      border: none;
      background: rgba(217, 217, 217, 0.5);
      display: block;
      height: 5px;
      width: 26px;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: 0;
      cursor: pointer;
      border-radius: 30px;

      &:hover,
      &:focus {
        outline: none;

      }

    }

    &.slick-active button {
      background: #A4CE4E;
      border-color: #A4CE4E;

    }
  }
}

.slider:not(.slick-initialized),
.slider-content:not(.slick-initialized),
.accordion-slider-items:not(.slick-initialized) {
  display: none;
}