.btn-icon {
  background: none;
  border: none;
  color: inherit;
  outline: none;
  padding: 0;
}

a {
  outline: none !important;
}

.bg-grey {
  background-color: #F8F8F8;
}


// .ratio img {
//   object-fit: cover;
// }
.f-12 {
  font-size: 1.2rem;
  line-height: 1.2;
}

.f-16 {
  font-size: 1.6rem;
}

.f-14 {
  font-size: 1.4rem;
}

.f-300 {
  font-weight: 300
}

.f-700 {
  font-weight: 700
}

.text-secondary {
  color: $secondary
}

.text-inherit {
  color: inherit;
}

.f-500 {
  font-weight: 500;
}

.text-muted {
  color: rgba(26, 27, 30, 0.5) !important;
}

.text-heading {
  color: $headings-color
}

.read-more {
  color: $teal;
  font-weight: 700;
  font-size: 1.6rem;
  text-decoration: none;

  i {
    margin-right: 5px;
    color: white;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-color: $teal;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}

.f-18 {
  font-size: 1.8rem;
}

.heading {
  // max-width: 555px;
  // margin: auto;
}

.f-300 {
  font-weight: 300;
}

.text-heading {
  color: $headings-color
}

.the-content {
  padding-top: 3rem;
  margin-bottom: 12rem;
}

.fancybox-content.d-none {
  display: inline-block !important
}


@include media-breakpoint-up(lg) {
  .fancybox-content {
    max-width: 60% !important;
  }
}


.container-fluid-full {
  max-width: 100% !important;
}

.wrapper {
  max-width: 2000px;
  margin: auto;
}