$color_1: inherit;
$color_2: #9ca3af;
$color_3: rgb(156 163 175 / var(--tw-text-opacity));
$color_4: #fff;
$color_5: #131313;
$color_6: #000;
$color_7: #13131380;
$color_8: #ffffff4d;
$color_9: #031833;
$color_10: #fafbfc;
$color_11: #1313134d;
$color_12: #3a93fd;
$color_13: #ffffffb3;
$color_14: #031833cc;
$color_15: #131313b3;
$color_16: #ccc;
$color_17: #fffc;
$color_18: #131313cc;
$color_19: #fff3;
$font-family_1: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
$font-family_2: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
$font-family_3: inherit;
$font-family_4: Be Vietnam Pro, sans-serif;
$background-color_1: transparent;
$background-color_2: #13131375;
$background-color_3: #131313;
$border-color_1: #e5e7eb;
$border-color_2: inherit;
$border-color_3: #031833;

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: $border-color_1;
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / .5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: $font-family_4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 62.5%;

  .container {
    padding-right: 10rem;
    padding-left: 10rem;
  }

  .header__inner {
    padding-right: 10rem;
    padding-left: 10rem;
  }

  .nav-menu {
    nav {
      padding-right: 10rem;
      padding-left: 10rem;
    }
  }

  .job-detail__title {
    padding-right: 10rem;
    padding-left: 10rem;
  }

  .job-detail__content {
    padding-right: 10rem;
    padding-left: 10rem;

    br {
      display: none;
    }

    h2:first-child {
      margin-top: 0;
    }
  }
}

body {
  margin: 0;
  line-height: inherit;
  font-family: $font-family_4 !important;
  color: $color_5;
  font-size: 1.6rem;
}

hr {
  height: 0;
  color: $color_1;
  border-top-width: 1px;
  margin: 0;
}

abbr {
  &:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }
}

h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  font-weight: 700;
  font-family: $font-family_4;
}

h2 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  font-weight: 700;
  font-family: $font-family_4;
}

h3 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  font-weight: 700;
  font-family: $font-family_4;
}

h4 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  font-weight: 700;
  font-family: $font-family_4;
}

h5 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  font-weight: 700;
  font-family: $font-family_4;
}

h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  font-weight: 700;
  font-family: $font-family_4;
}

a {
  color: $color_1;
  text-decoration: inherit;
}

b {
  font-weight: bolder;
}

strong {
  font-weight: bolder;
}

code {
  font-family: $font-family_4;
  font-size: 1em;
}

kbd {
  font-family: $font-family_4;
  font-size: 1em;
}

samp {
  font-family: $font-family_4;
  font-size: 1em;
}

pre {
  font-family: $font-family_4;
  font-size: 1em;
  margin: 0;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -.25em;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: $border-color_2;
  border-collapse: collapse;
}

button {
  font-family: $font-family_4;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: $color_1;
  margin: 0;
  padding: 0;
  text-transform: none;
  -webkit-appearance: button;
  background-color: $background-color_1;
  background-image: none;
  cursor: pointer;
}



input {
  font-family: $font-family_4;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: $color_1;
  margin: 0;
  padding: 0;
  border: .1rem solid #131313;
  padding: 1.7rem 2.5rem;
  color: $color_7;
  width: 100%;
  border-radius: 4.8rem;

  &::-moz-placeholder {
    opacity: 1;
    color: $color_2;
  }

  &::placeholder {
    opacity: 1;
    color: $color_2;
  }
}

optgroup {
  font-family: $font-family_4;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: $color_1;
  margin: 0;
  padding: 0;
}

select {
  font-family: $font-family_4;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: $color_1;
  margin: 0;
  padding: 0;
  text-transform: none;
}

textarea {
  font-family: $font-family_4;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: $color_1;
  margin: 0;
  padding: 0;
  resize: vertical;
  border: .1rem solid #131313;
  padding: 1.7rem 2.5rem;
  color: $color_7;
  width: 100%;
  border-radius: 3rem;

  &::-moz-placeholder {
    opacity: 1;
    color: $color_2;
  }

  &::placeholder {
    opacity: 1;
    color: $color_2;
  }
}

[type=button] {
  -webkit-appearance: button;
  background-color: $background-color_1;
  background-image: none;
}

[type=reset] {
  -webkit-appearance: button;
  background-color: $background-color_1;
  background-image: none;
}

[type=submit] {
  -webkit-appearance: button;
  background-color: $background-color_1;
  background-image: none;
}

progress {
  vertical-align: baseline;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

summary {
  display: list-item;
}

blockquote {
  margin: 0;
}

dl {
  margin: 0;
}

dd {
  margin: 0;
}

figure {
  margin: 0;
}

p {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

[role=button] {
  cursor: pointer;
}

img {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  vertical-align: middle;
}

video {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

canvas {
  display: block;
  vertical-align: middle;
}

audio {
  display: block;
  vertical-align: middle;
}

iframe {
  display: block;
  vertical-align: middle;
}

embed {
  display: block;
  vertical-align: middle;
}

object {
  display: block;
  vertical-align: middle;
}

[hidden] {
  display: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.pointer-events-none {
  pointer-events: none;
}

.visible {
  visibility: visible;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-2 {
  margin-bottom: .5rem;
}

.ml-2 {
  margin-left: .5rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-3 {
  margin-top: .75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-40 {
  margin-top: 10rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.flex-1 {
  flex: 1 1 0%;
}

.resize {
  resize: both;
}

.items-center {
  align-items: center;
}

.gap-4 {
  gap: 1rem;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

.text-2xl {
  font-size: 2.4rem;
}

.text-4xl {
  font-size: 3.6rem;
}

.text-xl {
  font-size: 2rem;
}

.font-bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: $color_3;
}

.btn-search {
  border-radius: 3rem;
  border: 1px solid #131313;
  background: #131313;
  color: $color_4;
  white-space: nowrap;
  padding: 1.6rem 4rem;
  cursor: pointer;

  &:hover {
    color: $color_5;
    background: #fff;
  }
}

.btn-primary {
  display: inline-flex;
  padding: 1.6rem 2.4rem;
  justify-content: center;
  align-items: center;
  color: $color_4;
  border-radius: 29px;
  border: 2px solid #FFF;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  transition-duration: .5s;

  &:after {
    content: "";
    position: absolute;
    right: 2.2rem;
    top: 1.7rem;
    background-image: url(../images/arrow-right.svg);
    width: 2.4rem;
    height: 2.4rem;
    background-size: contain;
  }

  &:hover {
    color: $color_6;
    background: #fff;

    &:after {
      background-image: url(../images/arrow-right-black.svg);
    }
  }

  span {
    margin-right: 30px;
  }
}

.btn-primary.btn-primary--black {
  color: $color_5;
  border: 2px solid #131313;

  &:after {
    background-image: url(../images/arrow-right-black.svg);
  }

  &:hover {
    background: #031833;
    color: $color_4;

    &:after {
      background-image: url(../images/arrow-right.svg);
    }
  }
}

.btn-primary--no-icon {
  &:after {
    display: none;
  }
}

.btn-secondary {
  display: inline-flex;
  padding: 1.6rem 2.4rem;
  justify-content: center;
  align-items: center;
  color: $color_5;
  border-radius: 29px;
  border: 2px solid #FFF;
  background: #fff;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  transition-duration: .5s;
  width: -moz-fit-content;
  width: fit-content;

  &:hover {
    color: $color_6;
    background: #fff;
    opacity: .7;

    &:after {
      background-image: url(../images/arrow-right-black.svg);
    }
  }

  span {
    margin-right: 30px;
  }
}

.tag-blue {
  color: $color_4;
  text-align: center;
  font-size: 1.6rem;
  border-radius: 26px;
  background: #3A93FD;
  padding: 8px 1.6rem;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  z-index: 11;
}

.modal__close {
  position: absolute;
  right: 3.6rem;
  top: 3.6rem;
  width: 3.6rem;
  height: 3.6rem;
  cursor: pointer;
}

.modal__background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .3);
}

.modal__content {
  position: relative;
  z-index: 12;
  max-width: 90%;
  width: 70%;
  margin: auto;
  max-height: calc(100vh - 50px);
  background: white;
  box-shadow: 0 0 2rem #00000080;
  border-radius: 2rem;
}

input[type=file] {
  position: relative;

  &::file-selector-button {
    padding: 1.2rem 4rem;
    position: absolute;
    right: 0;
    top: .5rem;
    align-items: center;
    border-radius: 4.8rem;
    border: 1px solid #131313;
    background: #131313;
    color: $color_4;
  }
}

section {
  margin-top: 6rem;
}

.header {
  padding: 1.6rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 11;
}

.header__language-sp {
  display: none;
  @media (max-width: 768px) {
    display: block;
    ul {
      display: flex!important;
      padding-left: 2rem!important;
      li a {
        font-size: 20px!important;
        color: rgba(255, 255, 255, 0.30) !important;
        font-weight: 700!important;
      }

      li.current-lang a {
        color: #fff !important;
      }
    }
  }
}

.header--in-overlay {
  background: transparent;

  .header__left {
    span {
      color: $color_4!important;
    }
  }
  //
  //.header__logo {
  //  background-image: url(../images/logo-white.svg);
  //}
  .logo-black {
    display: none!important;
  }
  .logo-white {
    display: block!important;
  }



  .header__language {
    //display: block;
    li {
      color: rgba(255, 255, 255, 0.30);
    }

    li.current-lang {
      color: #fff;
    }
  }
}

.header--transparent {
  background: transparent;
  color: $color_4;

  .header__logo {
    background-image: url(../images/logo-white.svg);
  }

  .logo-black {
    display: none;
  }
  .logo-white {
    display: block;
  }

  .header__language {
    span.active {
      color: $color_4;
    }
  }
}


.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}

.intro__vision {
  @media (min-width: 768px) {
      transition-delay: unset !important;
  }
  .header__inner {
    padding-bottom: 4rem;
    padding-top: 4rem;
    display: flex;
    align-items: center;
    height: 100%;

    &:first-child {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:last-child {
      background: #fff;
      color: $color_9;
      -webkit-clip-path: inset(50% 0 50% 0);
      clip-path: inset(50% 0 50% 0);
      pointer-events: none;
      position: relative;
      transition: -webkit-clip-path .4s cubic-bezier(.165, .84, .44, 1);
      z-index: 2;
      justify-content: space-between;

      span {
        &:first-child {
          white-space: nowrap;
        }
      }
    }
  }

  &:hover {
    .header__inner {
      -webkit-clip-path: inset(0);
      clip-path: inset(0);
      transition: -webkit-clip-path .6s cubic-bezier(.165, .84, .44, 1);
    }

    .nav-menu {
      nav {
        -webkit-clip-path: inset(0);
        clip-path: inset(0);
        transition: -webkit-clip-path .6s cubic-bezier(.165, .84, .44, 1);
      }
    }

    .job-detail__title {
      -webkit-clip-path: inset(0);
      clip-path: inset(0);
      transition: -webkit-clip-path .6s cubic-bezier(.165, .84, .44, 1);
    }

    .job-detail__content {
      -webkit-clip-path: inset(0);
      clip-path: inset(0);
      transition: -webkit-clip-path .6s cubic-bezier(.165, .84, .44, 1);
    }

    .container {
      -webkit-clip-path: inset(0);
      clip-path: inset(0) !important;
      transition: -webkit-clip-path .6s cubic-bezier(.165, .84, .44, 1);
    }
  }

  .nav-menu {
    nav {
      padding-bottom: 4rem;
      padding-top: 4rem;
      display: flex;
      align-items: center;
      height: 100%;

      &:first-child {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      &:last-child {
        background: #fff;
        color: $color_9;
        -webkit-clip-path: inset(50% 0 50% 0);
        clip-path: inset(50% 0 50% 0);
        pointer-events: none;
        position: relative;
        transition: -webkit-clip-path .4s cubic-bezier(.165, .84, .44, 1);
        z-index: 2;
        justify-content: space-between;

        span {
          &:first-child {
            white-space: nowrap;
          }
        }
      }
    }
  }

  .job-detail__title {
    padding-bottom: 4rem;
    padding-top: 4rem;
    display: flex;
    align-items: center;
    height: 100%;

    &:first-child {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:last-child {
      background: #fff;
      color: $color_9;
      -webkit-clip-path: inset(50% 0 50% 0);
      clip-path: inset(50% 0 50% 0);
      pointer-events: none;
      position: relative;
      transition: -webkit-clip-path .4s cubic-bezier(.165, .84, .44, 1);
      z-index: 2;
      justify-content: space-between;

      span {
        &:first-child {
          white-space: nowrap;
        }
      }
    }
  }

  .job-detail__content {
    padding-bottom: 4rem;
    padding-top: 4rem;
    display: flex;
    align-items: center;
    height: 100%;

    &:first-child {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:last-child {
      background: #fff;
      color: $color_9;
      -webkit-clip-path: inset(50% 0 50% 0);
      clip-path: inset(50% 0 50% 0);
      pointer-events: none;
      position: relative;
      transition: -webkit-clip-path .4s cubic-bezier(.165, .84, .44, 1);
      z-index: 2;
      justify-content: space-between;

      span {
        &:first-child {
          white-space: nowrap;
        }
      }
    }
  }

  color: $color_10;
  font-size: 9.6rem;
  font-weight: 900;
  border-bottom: 1px solid #ccc;
  position: relative;

  .container {
    padding-bottom: 4rem;
    padding-top: 4rem;
    display: flex;
    align-items: center;
    height: 100%;

    &:first-child {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:last-child {
      background: #fff;
      color: $color_9;
      -webkit-clip-path: inset(50% 0 50% 0);
      clip-path: inset(50% 0 50% 0);
      pointer-events: none;
      position: relative;
      transition: -webkit-clip-path .4s cubic-bezier(.165, .84, .44, 1);
      z-index: 2;
      justify-content: space-between;

      span {
        &:first-child {
          white-space: nowrap;
        }
      }
    }
  }
}

.development-path__control {
  .header__inner {
    padding-right: 1rem;
  }

  .nav-menu {
    nav {
      padding-right: 1rem;
    }
  }

  .job-detail__title {
    padding-right: 1rem;
  }

  .job-detail__content {
    padding-right: 1rem;
  }

  color: $color_10;
  font-size: 2rem;
  font-weight: 400;
  position: absolute;
  left: 0;
  top: 10rem;
  z-index: 1;
  display: flex;

  img {
    margin-right: 1rem;
    cursor: pointer;
  }

  .container {
    padding-right: 1rem;
  }
}

.header__left {
  display: flex;
  align-items: center;
  font-size: 2.4rem;

  span {
    font-weight: 700;
  }
}

.header__logo {
  background-image: url(../images/logo.svg);
  width: 50px;
  height: 50px;
  margin-right: 2.4rem;
  background-size: contain;
}

.header__language {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  margin-right: 2.5rem;
  color: $color_11;

  li {
    cursor: pointer;

    &:first-child {
      margin-right: 1.5rem;
    }
  }

  li.current-lang {
    color: $color_6;
  }
}

.navigation-menu {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 6.4rem);
  background: #031833;
  top: 6.4rem;
  left: 0;
}

.hero {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  width: 4rem;
  height: 3rem;
  position: relative;
  transform: rotate(0);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 1;

  span {
    display: block;
    position: absolute;
    height: .4rem;
    width: 100%;
    background: #131313;
    border-radius: .9rem;
    opacity: 1;
    left: 0;
    transform: rotate(0);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 1rem;
    }

    &:nth-child(3) {
      top: 1rem;
    }

    &:nth-child(4) {
      top: 2rem;
    }
  }
}

.menu--white {
  span {
    background: #fff !important;
  }
}

.menu.open {
  span {
    &:nth-child(1) {
      top: 1.8rem;
      width: 0%;
      left: 50%;
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }

    &:nth-child(4) {
      top: 1.8rem;
      width: 0%;
      left: 50%;
    }
  }
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  background: #031833 url(../images/stronger-together.svg) no-repeat right -10% bottom 15%;
  background-size: 73%;
  display: flex;
  align-items: center;
  z-index: 10;

  nav {
    height: 60%;
    font-size: 6.4rem;
    font-weight: 900;
    width: 100%;
    margin: auto;

    @media (max-width: 768px) {
      height: auto;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    @media (max-width: 768px) {
      height: auto;
    }

    li {
      display: block;
      height: 25%;
      min-height: 5rem;
      position: relative;
      opacity: 1;

      a {
        display: block;
        position: relative;
        color: $color_4;
        text-decoration: none;
        overflow: hidden;
        padding: 1rem;

        &:hover {
          color: $color_9;
          background: #fff;
          transition: all .25s;

          &:after {
            width: 100%;
          }
        }

        &:focus {
          &:after {
            width: 100%;
          }
        }

        &:active {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}

.nav-menu.open {
  opacity: 1;
  visibility: visible;
  height: 100%;

  li {
    //animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;

    &:nth-of-type(2) {
      animation-delay: .4s;
    }

    &:nth-of-type(3) {
      animation-delay: .45s;
    }

    &:nth-of-type(4) {
      animation-delay: .5s;
    }
  }
}

.banner {
  padding: 6rem 10rem;
  background-position: center;
  height: 100vh;
  background-image: url(../images/recruitment-banner.png);
  background-size: cover;
  margin-top: 0;
}

.banner__content {
  display: flex;
  align-items: center;
  height: 100%;
}

.banner__jobs {
  font-size: 6.4rem;
  font-weight: 800;
  color: $color_12;
  margin-bottom: 2rem;

  span {
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    height: 0;
    display: block;
  }

  span.active {
    opacity: 1;
    visibility: visible;
    height: auto;
  }
}

.banner__text {
  p {
    &:first-child {
      font-size: 2rem;
      color: $color_13;
    }

    &:nth-child(2) {
      font-size: 6.4rem;
      font-weight: 800;
      color: $color_4;
    }
  }
}

.reason {
  display: flex;
  align-items: center;
  height: 46vw;
  gap: 7rem;
}

.reason--reverse {
  flex-direction: row-reverse;
}

.reason__content {
  color: $color_14;
  flex: 1;
}

.reason__image {
  position: relative;
  height: 43vw;
  flex: 1;
  width: 100%;

  img {
    position: absolute;
    height: auto;
    max-width: 82.5%;
    border-radius: 2rem;

    &:first-child {
      top: 0;
      left: 0;
    }

    &:last-child {
      bottom: 0;
      right: 0;
    }
  }
}

.reason__title {
  font-size: 6.4rem;
  color: $color_5;
  font-weight: 800;
}

.reason__sub-title {
  color: $color_15;
  font-size: 2rem;
  letter-spacing: 1px;
}

.reason__text {
  margin-top: 3rem;
}

.search {
  text-align: center;
}

.search__input {
  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    display: block;
  }
}

.search__title {
  font-size: 6.4rem;
  color: $color_5;
  font-weight: 800;
  margin-bottom: 1rem;
}

.search__sub-title {
  color: $color_15;
  font-size: 2rem;
  letter-spacing: 1px;
}

.search__job {
  width: 70rem;
  margin-right: 2rem;
}

.search__department {
  width: 47.1rem;
  margin-right: 2rem;
}

.job {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.job__card {
  display: flex;
  width: calc(50% - 2rem);
  padding: 2.4rem 1.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;
  border-radius: 3rem;
  background: #FAFBFC;
  box-shadow: 0 .5rem 3rem #0000001a;
}

.job__footer {
  color: $color_7;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;

  span {
    position: relative;
    padding-left: 3rem;

    &:first-child {
      margin-right: 2rem;
      margin-bottom: 1rem;

      &:after {
        content: "";
        position: absolute;
        width: 2.4rem;
        height: 2.4rem;
        left: 0;
        top: 0;
        background-image: url(../images/location.svg);
        background-size: contain;
      }
    }

    &:last-child {
      &:after {
        content: "";
        position: absolute;
        width: 2.4rem;
        height: 2.4rem;
        left: 0;
        top: 0;
        background-image: url(../images/vnd.svg);
        background-size: contain;
      }
    }
  }
}

.quote {
  .swiper-slide {
    height: auto;
    background-image: url(../images/quote.svg);
    background-position: top left;
    background-repeat: no-repeat;
  }

  .swiper-slide__content {
    width: 70%;
    margin: 11rem auto 0;
    font-size: 3.2rem;
  }

  .swiper-slide__break {
    width: 24rem;
    height: .6rem;
    background: #D9D9D9;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }

  .swiper-slide__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @media (max-width: 768px) {
      p:first-child {
        font-size: 22px;
      }
      p:nth-child(2) {
        font-size: 18px;
      }
    }
  }

  .swiper-slide__author {
    display: flex;

    img {
      width: 10.4rem;
      height: 10.4rem;
      border-radius: 50%;
      margin-right: 2.4rem;
    }
  }

  .swiper-button-prev {
    color: $color_16;
  }

  .swiper-button-next {
    color: $color_16;
  }

  .swiper-pagination {
    display: none;

    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
      background-color: $background-color_2;
    }
  }
}

.footer {
  border-radius: 4rem;
  background-color: $background-color_3;
  background-image: url(../images/stronger-together.svg);
  background-repeat: no-repeat;
  color: $color_4;
  padding: 5rem 10rem;
  width: calc(100% - 10rem);
  margin-left: 5rem;
  margin-bottom: 5rem;
  margin-top: 10rem;
}

.footer__inner {
  display: flex;
  margin-top: 3.2rem;
  gap: 1rem;
}

.footer__logo {
  width: 5rem;
  height: 5rem;
  margin-right: 2.4rem;
  background-image: url(../images/logo-white.svg);
  background-size: cover;
}

.footer__location {
  margin-top: 1.6rem;
  display: flex;

  strong {
    white-space: nowrap;
  }

  p {
    margin-left: .5rem;
    padding-right: 5rem;
  }
}

.footer__left {
  width: 50%;
}

.footer__right {
  display: flex;
  width: 50%;

  a {
    font-weight: 700;
    margin-top: 1.5rem;
    display: block;
  }
}

.job-detail__title {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  border-radius: 0 4rem 4rem 0;
  background: #031833;
  color: $color_4;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 13rem;
  padding-bottom: 13rem;
  width: 50%;

  h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 9rem;
    font-weight: 800;
  }
}

.job-detail__content {
  padding-top: 10rem;
  padding-right: 50%;
  margin-left: 50% !important;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  ul {
    list-style: disc;
    margin-left: 2.4rem;

    li {
      font-size: 2rem;
    }
  }

  h2 {
    font-size: 3.2rem;
    margin-top: 3.2rem;

    &:first-child {
      margin-top: 0;
    }
  }
}

.recruitment-form {
  display: flex;
}

.recruitment-form__img {
  width: 50%;
  background-image: url(../images/recruitment-form.svg);
  background-size: cover;
  background-position: center;
  max-height: calc(100vh - 50px);
}

.recruitment-form__content {
  padding: 3.6rem 4rem 5rem;
  width: 50%;
  max-height: calc(100vh - 50px);
  overflow: auto;

  input {
    width: 100%;
    margin-bottom: 2rem;
  }

  textarea {
    width: 100%;
  }

  h3 {
    font-size: 3.2rem;
    margin-bottom: 3.2rem;
  }
}

.event-head {
  padding-top: 10rem;
  text-align: center;
  position: relative;

  h1 {
    font-size: 6.4rem;
    font-weight: 800;
  }

  img {
    width: 100%;
    margin-top: 10rem;
    border-radius: 2rem;
  }
}

.event-head__date {
  color: $color_7;
  font-size: 2rem;
}

.event-head__info {
  position: absolute;
  left: 4rem;
  bottom: 4rem;
  text-align: left;
  max-width: calc(100% - 8rem);

  a {
    color: $color_17;
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }

  &-title {
    a {
      color: $color_4;
      font-size: 4rem;
      font-weight: 700;
      margin-bottom: 1.6rem;
      cursor: pointer;
    }

  }

  &-date {
    color: $color_17;
    font-size: 2rem;
  }

}

.event-head__sub {
  color: $color_15;
  font-size: 2rem;
}

.event-list {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;

  .event-list__card:first-child {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

.event-list__card {
  width: calc(50% - 2rem);
  position: relative;
  border-radius: 2rem;
  background: #FFF;
  box-shadow: 0 5px 50px #00000026;

  img {
    border-radius: 2rem;
  }
}

.event-list__card-content {
  padding: 2.4rem 2rem 7rem;

  h3 {
    color: $color_5;
    font-size: 3.6rem;
    font-weight: 700;
  }

  .date {

    position: absolute;
    bottom: 3.2rem;
    left: 2rem;
    color: $color_7;
    font-size: 2rem;
  }

  p {
    &:nth-child(1) {
      color: $color_18;
      font-size: 2rem;
    }

  }
}

.event-detail-head {
  padding-top: 10rem;
  text-align: center;
  position: relative;

  h1 {
    font-size: 6.4rem;
    font-weight: 800;
  }

  img {
    width: 100%;
    margin-top: 10rem;
    border-radius: 2rem;
  }
}

.event-detail-head__date {
  color: $color_7;
  font-size: 2rem;
}

.event-detail-head__sub {
  color: $color_15;
  font-size: 2rem;
}

.event-detail-content {
  max-width: 92rem;
  font-size: 1.8rem;

  img {
    max-width: calc(100% + 20rem);
    margin-left: -10rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
}

.contact__container {
  width: 100%;
  height: 100%;
  //background-image: url(../images/company-map.png);
  background-size: cover;
  @media (max-width: 768px) {
    padding-right: 0;
  }
}

.contact__location-img {
  display: block;
  width: 60%;
  height: 100%;
  //background: radial-gradient(50% 50.00% at 50% 50.00%, rgba(250, 251, 252, 0.00) 44.27%, #FAFBFC 100%), url('../images/company-map.svg') no-repeat;
  //background-image: url(../images/company-map.png);
  background-size: cover !important;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.contact__form {
  padding-top: 10rem;
  width: 50%;
  background-color: #FAFBFC;
  padding-left: 10rem;
  @media (max-width: 1536px) {
    padding-left: 6rem;
  }  @media (max-width: 768px) {
    padding-left: 2rem;
  padding-right: 2rem;

  }

  input {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.contact__form-info {
  p {
    display: flex;
    gap: 2rem;
  }
}

.contact__form-sub {
  color: $color_15;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact__form-title {
  color: $color_5;
  font-size: 6.4rem;
  font-weight: 800;
  margin-bottom: 1.2rem;
}

.contact__form-text {
  color: $color_7;
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.banner-wrapper {
  position: relative;
}

.main-banner {
  position: relative;

  video {
    height: 100vh;
    width: 100%;
    -o-object-fit: fill;
    object-fit: fill;
  }

  img {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translate(-50%);
  }
}

.main-banner__img {
  display: none;
  background-image: url(../images/banner.png);
  background-size: cover;
  height: 100vh;
  height: 100svh;
}

.intro {
  background: #031833;
  padding-top: 30rem;

  @media (min-width: 768px) {
    .container {
      transition-delay: unset !important;
    }
  }

}

.intro__sub-title {
  color: $color_10;
  font-size: 2rem;
}

.intro__title {
  color: $color_10;
  font-size: 6.4rem;
  font-weight: 700;
  padding-bottom: 10rem;
  @media (max-width: 1536px) {
    font-size: 40px;
  }

}

.intro__vision-detail {
  color: $color_9;
  font-size: 2.8rem;
  font-weight: 700;
  width: 40%;
}

.intro__vision.intro__vision-first {
  border-top: 1px solid #ccc;
}

.pin-spacer {
  background: #031833;
  overflow-x: hidden !important;
}

.development-path {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  background: #031833;
  position: relative;
  @media (max-width: 768px) {
    overflow-x: hidden;
  }
}

.development-path__panel {
  height: 100%;
  color: $color_4;
  position: relative;
  max-width: 80vw;
  min-width: 80vw;

  @media (max-width: 768px) {
    &:last-child {
      max-width: 100vw;
      min-width: 100vw;
      padding-right: 20vw;
    }
  }
}

.development-path__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 20rem;
}

.development-path__arrows {
  display: flex;
}

.development-path__title {
  color: $color_10;
  font-size: 4rem;
  font-weight: 700;

  br {
    content: "";
    display: block;
    height: 2.5rem;
  }

  @media (max-width: 1024px) {
    font-size: 3rem;
  }
}

.development-path__year {
  color: $color_19;
  font-size: 40rem;
  font-weight: 800;
  line-height: 1;
  @media (max-width: 1024px) {
    font-size: 30rem;
  }
}

.quality {
  text-align: center;
}

.quality__sub-title {
  font-size: 2rem;
}

.quality__title {
  font-size: 6.4rem;
  font-weight: 800;
}

.quality__content {
  display: flex;
  gap: 4rem;
  margin-top: 10rem;
  @media (max-width: 1536px) {
    gap: 3rem
  }
}

.quality__item {
  width: 25%;
  height: 75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  flex-shrink: unset !important;

  &:hover {
    opacity: .9;

    .quality__item-fade {
      display: block;
      opacity: 1;
      transform: translateY(0);
    }

    .quality__item-fix {
      display: none;
    }
  }

  &:nth-child(1) {
    background: url(../images/quality-1.svg), lightgray 50%/cover no-repeat;
  }

  &:nth-child(2) {
    background: url(../images/quality-2.svg), lightgray 50%/cover no-repeat;
  }

  &:nth-child(3) {
    background: url(../images/quality-3.svg), lightgray 50%/cover no-repeat;
  }

  &:nth-child(4) {
    background: url(../images/quality-4.svg), lightgray 50%/cover no-repeat;
  }

  p {
    color: $color_10;
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: .3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    @media (max-width: 1536px) {
      font-size: 2.6rem;
    }

    span {
      font-size: 2.4rem;
      @media (max-width: 1536px) {
        font-size: 2rem;
      }
    }
  }
}

.quality__item-fix {
  position: absolute;
}

.quality__item-fade {
  opacity: 0;
  transform: translateY(100%);
  transition: all .5s;
}

.quality__item-sub-text {
  color: $color_4;
  font-size: 2.4rem;
  padding: 2rem;
}

.life {
  display: flex;
  gap: 4rem;
}

.life__left {
  width: 50%;
}

.life-sp {
  display: none;
}

.life__right {
  width: 50%;
  position: relative;
  height: calc(50vw - 12rem);
}

.life__img {
  position: absolute;
  border-radius: 3rem;
  background-size: cover;
}

.life__img-1 {
  top: 0;
  left: 4.7%;
  width: 43%;
  padding-bottom: 59%;
  z-index: 2;
  background-image: url(../images/recruitment-1.png);
}

.life__img-2 {
  right: 0;
  top: 2.5%;
  width: 43%;
  padding-bottom: 55%;
  z-index: 4;
  background-image: url(../images/recruitment-2.png);
}

.life__img-3 {
  bottom: 0;
  left: 0;
  width: 30%;
  padding-bottom: 38%;
  z-index: 1;
  background-image: url(../images/recruitment-2.png);
}

.life__img-4 {
  right: 4%;
  bottom: 4.7%;
  width: 64%;
  padding-bottom: 43%;
  z-index: 3;
  background-image: url(../images/recruitment-1.png);
}

.life__sub-title {
  color: $color_15;
  font-size: 2rem;
}

.life__title {
  font-size: 6.4rem;
  font-weight: 800;
  margin-bottom: 4rem;
}

.life__text {
  color: $color_14;
  font-size: 2rem;
  margin-bottom: 2rem;

  br {
    content: "";
    height: 4rem;
    display: block;
  }
}

.sponsor {
  text-align: center;
}

.sponsor__sub-title {
  color: $color_15;
  font-size: 2rem;
}

.sponsor__title {
  font-size: 6.4rem;
  font-weight: 800;
  margin-bottom: 4rem;
}

.sponsor__list {
  display: flex;
  gap: 8rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1536px) {
  html {
    font-size: 52.5%;

    .container {
      padding-right: 6rem;
      padding-left: 6rem;
    }

    .header__inner {
      padding-right: 6rem;
      padding-left: 6rem;
    }

    .nav-menu {
      nav {
        padding-right: 6rem;
        padding-left: 6rem;
      }
    }

    .job-detail__title {
      padding-right: 6rem;
      padding-left: 6rem;
    }

    .job-detail__content {
      padding-right: 6rem;
      padding-left: 6rem;
    }
  }
  .banner {
    padding: 6rem;
  }
  .banner__jobs {
    font-size: 4rem;
  }
  .banner__text {
    p {
      &:nth-child(2) {
        font-size: 4rem;
      }
    }
  }
  .reason__title {
    font-size: 40px;
  }
  .reason__sub-title {
    font-size: 16px;
  }
  .search__title {
    font-size: 40px;
  }
  .search__sub-title {
    font-size: 16px;
  }
  .job-detail__title {
    h1 {
      font-size: 6rem;
    }
  }
  .event-head {
    h1 {
      font-size: 40px;
    }

    img {
      margin-top: 50px;
    }
  }
  .event-list__card-content {
    h3 {
      font-size: 25px;
    }

    p {
      &:nth-child(1) {
        font-size: 16px;
      }
    }
  }
  .event-detail-head {
    h1 {
      font-size: 40px;
    }

    img {
      margin-top: 50px;
    }
  }
  .contact__form-title {
    font-size: 40px;
  }
  .intro__vision {
    font-size: 6rem;
  }
  .intro__vision-detail {
    font-size: 2rem;
  }
  .quality__title {
    font-size: 40px;
  }
  .life__title {
    font-size: 40px;
    margin-bottom: 2rem;
  }
  .life__text {
    br {
      height: 2rem;
    }
  }
  .sponsor__title {
    font-size: 40px;
  }
}

@media (max-width: 1024px) {
  .reason__title {
    font-size: 2.4rem;
  }
  .reason__sub-title {
    font-size: 1.4rem;
  }
  .search__title {
    font-size: 2.4rem;
  }
  .search__sub-title {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .btn-primary {
    font-size: 12px;
    padding: 8px 16px;

    &:after {
      right: 17px;
      top: 8px;
    }
  }
  .modal__content {
    max-width: 95%;
    width: 95%;
  }
  html {
    font-size: 46.875%;

    .container {
      padding-right: 2rem;
      padding-left: 2rem;
    }

    .header__inner {
      padding-right: 2rem;
      padding-left: 2rem;
    }

    .nav-menu {
      nav {
        padding-right: 2rem;
        padding-left: 2rem;
      }
    }

    .job-detail__title {
      padding-right: 2rem;
      padding-left: 2rem;
    }

    .job-detail__content {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }
  section {
    margin-top: 48px;
  }
  .header {
    padding-top: 5rem;

    .header__language {
      display: none;
    }
  }
  .header--in-overlay {
    .header__language {
      position: absolute;
      left: 3.2rem;
      top: 61rem;
    }
  }
  .header__left {
    span {
      display: none;
    }
  }
  .header--transparent {
    .header__left {
      span {
        display: none;
      }
    }

    .header__language {
      font-size: 2.75rem;
    }
  }
  .intro__vision {
    .header__inner {
      &:first-child {
        display: none;
      }

      &:last-child {
        -webkit-clip-path: none;
        clip-path: none;
        flex-direction: column;
        border-radius: 12px;
        background: rgba(255, 255, 255, .1);
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 18px;
        padding: 16px 12px;
        width: calc(100% - 4rem);

        span {
          &:first-child {
            color: $color_10;
            font-size: 14px;
            letter-spacing: 5.6px;
            margin-bottom: 10px;
            font-weight: 400;
          }
        }
      }
    }

    .nav-menu {
      nav {
        &:first-child {
          display: none;
        }

        &:last-child {
          -webkit-clip-path: none;
          clip-path: none;
          flex-direction: column;
          border-radius: 12px;
          background: rgba(255, 255, 255, .1);
          margin-left: 2rem;
          margin-right: 2rem;
          margin-bottom: 18px;
          padding: 16px 12px;
          width: calc(100% - 4rem);

          span {
            &:first-child {
              color: $color_10;
              font-size: 14px;
              letter-spacing: 5.6px;
              margin-bottom: 10px;
              font-weight: 400;
            }
          }
        }
      }
    }

    .job-detail__title {
      &:first-child {
        display: none;
      }

      &:last-child {
        -webkit-clip-path: none;
        clip-path: none;
        flex-direction: column;
        border-radius: 12px;
        background: rgba(255, 255, 255, .1);
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 18px;
        padding: 16px 12px;
        width: calc(100% - 4rem);

        span {
          &:first-child {
            color: $color_10;
            font-size: 14px;
            letter-spacing: 5.6px;
            margin-bottom: 10px;
            font-weight: 400;
          }
        }
      }
    }

    .job-detail__content {
      &:first-child {
        display: none;
      }

      &:last-child {
        -webkit-clip-path: none;
        clip-path: none;
        flex-direction: column;
        border-radius: 12px;
        background: rgba(255, 255, 255, .1);
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 18px;
        padding: 16px 12px;
        width: calc(100% - 4rem);

        span {
          &:first-child {
            color: $color_10;
            font-size: 14px;
            letter-spacing: 5.6px;
            margin-bottom: 10px;
            font-weight: 400;
          }
        }
      }
    }

    font-size: 14px;
    border: none;

    .container {
      &:first-child {
        display: none;
      }

      &:last-child {
        -webkit-clip-path: none;
        clip-path: none;
        flex-direction: column;
        border-radius: 12px;
        background: rgba(255, 255, 255, .1);
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 18px;
        padding: 16px 12px;
        width: calc(100% - 4rem);

        span {
          &:first-child {
            color: $color_10;
            font-size: 14px;
            letter-spacing: 5.6px;
            margin-bottom: 10px;
            font-weight: 400;
          }
        }
      }
    }
  }
  .header__logo {
    width: 42px;
    height: 42px;
  }
  .nav-menu {
    display: block;
    background: #031833 url(../images/stronger-together.svg) no-repeat right 50% bottom 30%;
    background-size: 110%;

    nav {
      margin-top: 15rem;
    }

    ul {
      li {
        height: auto;
        margin-bottom: 3.2rem;

        a {
          font-size: 4.25rem;
        }
      }
    }
  }
  .banner {
    margin-top: 0;
    padding: 6rem 1.6rem !important;
  }
  .banner__text {
    text-align: center;
    position: absolute;
    bottom: 4rem;
    width: calc(100% - 3.2rem);

    p {
      &:nth-child(2) {
        font-size: 3.2rem;
      }

      &:nth-child(3) {
        font-size: 3.2rem;
        margin-bottom: 1.6rem;
      }
    }
  }
  .reason {
    flex-direction: column-reverse;
    height: auto;
    gap: 3.2rem;
    margin-bottom: 20px;
  }
  .reason--reverse {
    flex-direction: column-reverse;
  }
  .reason__image {
    height: 85vw;
    flex: auto;
  }
  .reason__title {
    text-align: center;
  }
  .reason__sub-title {
    text-align: center;
  }
  .search__job {
    width: 100%;
  }
  .search__department {
    margin-top: 1.6rem;
    width: 100%;
    margin-bottom: 1.6rem;
  }
  .job {
    display: block;
  }
  .job__card {
    width: 100%;
    margin-bottom: 2.4rem;
    padding: 2rem 1.6rem;
    gap: 1.2rem;
  }
  .quote {
    .swiper-slide {
      background-size: 14.4rem 10.1rem;
    }

    .swiper-slide__content {
      font-size: 2rem;
      margin: 6.8rem auto 5rem;
      width: calc(100% - 2.4rem);
    }

    .swiper-slide__break {
      width: 12rem;
      height: .2rem;
      margin-top: 1.2rem;
      margin-bottom: 1.2rem;
    }

    .swiper-button-prev {
      display: none;
    }

    .swiper-button-next {
      display: none;
    }

    .swiper-pagination {
      display: block;
    }
  }
  .footer {
    width: calc(100vw - 16px);
    margin-left: 8px;
    padding: 24px 16px;
    border-radius: 2rem;
    margin-bottom: 8px;
    background-image: none;
    margin-top: 4rem;
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer__logo {
    width: 4.04rem;
    height: 4.04rem;
    margin-right: 1.6rem;
  }
  .footer__location {
    margin-top: 1.2rem;

    p {
      padding-right: 0;
    }
  }
  .footer__left {
    width: 100%;
  }
  .footer__right {
    width: 100%;
    margin-top: 2.4rem;
  }
  .job-detail {
    flex-direction: column;
  }
  .job-detail.simple {
    h1 {
      font-size: 20px;
    }

    header {
      display: none;
    }

    .job-detail__info {
      display: none;
    }

    .job-detail__title {
      padding-top: 40px;
    }
  }
  .job-detail__title {
    flex: auto;
    width: 100%;
    border-radius: 0 0 2rem 2rem;
    height: auto;
    padding-top: 14rem;
    padding-bottom: 2rem;

    img {
      width: 2rem;
      height: 2rem;
    }

    .btn-secondary {
      position: fixed;
      bottom: 2.8rem;
      left: 50%;
      transform: translate(-50%);
      background: #031833;
      border-color: $border-color_3;
      color: $color_4;
      padding: 1.6rem 4rem;
    }

    h1 {
      margin-top: 1rem;
      font-size: 26px;
    }
  }
  .job-detail__content {
    flex: auto;
    padding-top: 2rem;
    margin-left: 0 !important;
    margin-top: 2rem;

    ul {
      li {
        margin-top: .5rem;
      }
    }

    h2 {
      font-size: 1.6rem;
    }
  }
  .recruitment-form__img {
    display: none;
  }
  .recruitment-form__content {
    width: 100%;
  }
  .event-head {
    padding-top: 100px;

    h1 {
      font-size: 24px;
    }

    img {
      display: none;
      margin-top: 20px;
    }
  }
  .event-head__info {
    display: none;
  }
  .event-head__sub {
    font-size: 14px;
  }
  .event-list {
    gap: 16px;
  }
  .event-list__card {
    width: 100%;
  }
  .event-list__card-content {
    padding: 2.4rem 1.5rem 3rem;

    h3 {
      font-size: 16px;
      margin-bottom: 1rem;
    }

    .date {

      position: static;
      font-size: 12px;
    }

    p {
      &:nth-child(1) {
        font-size: 12px;
        margin-bottom: 1rem;
      }

    }
  }
  .event-detail-head {
    padding-top: 100px;

    h1 {
      font-size: 24px;
    }

    img {
      margin-top: 20px;
    }
  }
  .event-detail-head__sub {
    font-size: 14px;
  }
  .event-detail-content {
    img {
      max-width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
      margin-top: 20px;
      border-radius: 2rem;
    }
  }
  .contact__inner {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact__location-img {
    display: block;
    position: static;
    width: 100%;
    background-position: left 53% top 55px !important;
    background-size: cover !important;
    height: 60vh;
  }
  .contact__form {
    width: 100%;

    form {
      width: 100%;
    }
  }
  .contact__form-sub {
    text-align: center;
    font-size: 14px;
    letter-spacing: 5.6px;
  }
  .contact__form-title {
    font-size: 24px;
    text-align: center;
  }
  .main-banner__img {
    display: block;
    filter: brightness(.8);
  }
  .main-banner {
    video {
      display: none;
    }

    img {
      display: none;
    }
  }
  .intro {
    position: absolute;
    left: 0;
    bottom: 20px;
    background: transparent;
    text-align: center;
  }
  .intro__sub-title {
    color: $color_10;
    font-size: 14px;
    letter-spacing: 5.6px;
    font-weight: 400;
  }
  .intro__title {
    color: $color_10;
    font-size: 16px;
    padding-bottom: 20px;
  }
  .intro__vision-detail {
    color: $color_4;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
  }
  .intro__vision.intro__vision-first {
    border: none;
  }
  .development-path__content {
    justify-content: start;
  }
  .development-path__arrows {
    padding-left: 2rem;
    margin-top: 10px;
  }
  .development-path__control {
    font-size: 14px;
    letter-spacing: 5.6px;
    display: block;
  }
  .development-path__title {
    font-size: 16px;
  }
  .development-path__year {
    font-weight: 700;
    transform: rotate(-90deg);
    position: absolute;
    left: -150px;
    bottom: 160px;
    font-size: 200px;
    margin-left: 2rem;
  }
  .quality__sub-title {
    font-size: 14px;
    letter-spacing: 5.6px;
  }
  .quality__title {
    font-size: 24px;
  }
  .quality__content {
    margin-top: 20px;
    gap: 0;
  }
  .quality__item {
    flex-shrink: 0 !important;
    width: 75%;
  }
  .quality__item-fix {
    display: none;
  }
  .quality__item-fade {
    opacity: 1;
    transform: translateY(0);
  }
  .quality__item-sub-text {
    font-size: 16px;
  }
  .life__left {
    width: 100%;
  }
  .life {
    flex-direction: column-reverse;

    .life__btn {
      width: 100%;
      display: flex;
      justify-content: center;

      .btn-primary {
        font-size: 14px;
        color: $color_9;
        padding: 12px 24px;

        &:after {
          right: 20px;
          top: 12px;
          width: 22px;
          height: 22px;
        }
      }
    }
  }
  .life-pc {
    display: none;
  }
  .life-sp {
    display: block;
  }
  .life__right {
    width: 100%;
    height: auto;
  }
  .life__imgs {
    height: 92vw;
    position: relative;
  }
  .life__sub-title {
    color: $color_5;
    font-size: 14px;
    letter-spacing: 5.6px;
    text-align: center;
  }
  .life__title {
    font-size: 24px;
    text-align: center;
  }
  .life__text {
    font-size: 14px;
    letter-spacing: .7px;

    br {
      height: 16px;
    }
  }
  .sponsor__sub-title {
    text-align: center;
    font-size: 14px;
    letter-spacing: 5.6px;
  }
  .sponsor__title {
    text-align: center;
    font-size: 24px;
  }
  .sponsor__list {
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;

    img {
      max-width: 27%;
      height: auto;
    }
  }
  .sm\  {
    &:mr-5 {
      margin-right: 1.25rem;
    }

    &:mt-4 {
      margin-top: 1rem;
    }

    &:mt-5 {
      margin-top: 1.25rem;
    }

    &:block {
      display: block;
    }

    &:text-2xl {
      font-size: 2.4rem;
    }

    &:text-\[12px\] {
      font-size: 12px;
    }

    &:text-xl {
      font-size: 2rem;
    }
  }
}

select {
  font-family: $font-family_4;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: $color_1;
  margin: 0;
  padding: 0;
  border: .1rem solid #131313;
  padding: 1.7rem 2.5rem;
  color: $color_7;
  width: 100%;
  border-radius: 4.8rem;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 45%;
  appearance: none;

  &::-moz-placeholder {
    opacity: 1;
    color: $color_2;
  }

  &::placeholder {
    opacity: 1;
    color: $color_2;
  }
}

body:has(#page-job-detail) {
  header {
    .menu {
      span {
        @media (max-width: 768px) {
          background: #fff;
        }
      }
    }
  }

  //.main {
  //  background: #fff;
  //  z-index: 1;
  //  position: relative;
  //  margin-bottom: 500px;
  //
  //  .job-detail__content {
  //
  //  }
  //}
  //
  //footer {
  //  position: fixed;
  //  left: 0;
  //  bottom: 0;
  //  z-index: 0;
  //}
}

body:has(#page-tin-tuc) {
  header {
    .header__left {
      .logo-black {
        display: block;
      }
      .logo-white {
        display: none;
      }
      span {
        color: #131313;
      }
    }
  }
}

//body:has(#page-news-detail) {
//  header {
//    .menu {
//      span {
//        @media (max-width: 768px) {
//          background: #fff;
//        }
//      }
//    }
//  }
//}

body:has(#page-contact) {
  header {
    .header__left {
      .logo-black {
        display: block;
      }
      .logo-white {
        display: none;
      }
      span {
        color: #131313;
      }
    }
  }

  footer {
    margin-top: 0;
  }
}

