$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-left: "\e90e";
$icon-arrow-right: "\e90f";
$icon-arrow-up-line: "\e910";
$icon-angle-up: "\e90b";
$icon-angle-down: "\e90c";
$icon-times: "\e90d";
$icon-search: "\e90a";
$icon-arrow-up: "\e900";
$icon-Icon-Round-Facebook-Future-Blue: "\e901";
$icon-Subtract: "\e902";
$icon-Vector-5: "\e903";
$icon-Vector-4: "\e904";
$icon-map-marker: "\e905";
$icon-Vector-3: "\e906";
$icon-entypo_quote: "\e907";
$icon-maki_doctor: "\e908";
$icon-lucide_briefcase: "\e909";

